

ViewData["Title"] = "Albamon Home Page";
}

<div class="text-center">
    <h1 class="display-4">ALBAMON</h1>
    <h2 class="display-4">Convertir monedas</h2>
    <p>Puedes convertir tus monedas en <a href="https://localhost:44367/Convertir%22%3EAlbamon </a>.</p>
</div>
