    ViewData["Title"] = "Albamon Home Page";
}

<div class="text-center">
    <h1 class="display-4">ALBAMON</h1>
    <h2 class="display-4">NFT game marketplace</h2>
    <p>Puedes vender tus Albamon en <a href="https://localhost:44367/Vender">Albamon marketplace</a>.</p>
</div>
